<h4>Оформление заказа</h4>
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Количество</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <% current_order.order_items.each do |item| %>
      <tr>
        <td><%= item.product.title %></td>
        <td><%= item.quantity %></td>
        <td><%= item.subtotal_amount  %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">Всего:</td>
      <td><%= current_order.total_amount %></td>
    </tr>
  </tbody>
</table>
<%= render "form",completed_order: @completed_order %>